*{
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-width: 290px;
    color: #145A32;
    background-color: #EEFEF5;
    line-height: 2.5;
    font-family: 'Poppins', sans-serif;

}

header {
    margin: 10px;
    text-align: left;
    font-size: 1.8em;
    text-decoration: dotted;
}

.basic{
    list-style-type: square;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    border-left: solid #145A32 1px;

}

.main-section{
    margin-bottom: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
section article {
    color: #145A32;
    margin: 15px;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}

section article {
    color: #145A32;
    margin: 15px;
    font-size: 0.96em;
    display: block;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #145A32;
    text-decoration: none;
    cursor: pointer;
}

.nav-link a{
    color: #145A32;
    list-style: none;
    position: relative;
    width: 100%; 
    text-decoration: none;
}

#navbar li {
    color: #145A32;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #145A32;
    text-decoration: none;
    cursor: pointer;
}

ul{
    color: #145A32;
    list-style: none;
    position: relative;
    width: 100%; 
    text-decoration: none;
}

li {
    color:#145A32;
}

a:active, a:hover, a:visited{
    color:#145A32;

}

@media only screen and (max-width: 768px) {
    
    header {
        margin: 10px;
        text-align: left;
        font-size: 0.8em;
        text-decoration: dotted;
    }

    li {
        font-size:0.5em;
    }

    section article {
        color: #145A32;
        margin: 15px;
        font-size: 0.5em;
        display: block;
    }
        
    main{
        display: block;
    }

    #main-doc {
        position: absolute;
        margin-left: 110px;
        padding: 20px;
        margin-bottom: 10px;
        border-left: solid #145A32 1px;
    }

    .main-section{
        margin-bottom: 0px;
    }

    #navbar {
        position: fixed;
        min-width: 150px;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100%;
    }

    ul{
        color: #145A32;
        list-style: none;
        position: relative;
        width: 100%; 
        text-decoration: none;
    }
}
