*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Handlee', cursive;
    color: var(--font-color);
}

:root{
    --color1:#2A2F4F;
    --color2:#917FB3;
    --color3:#E5BEEC;
    --color4:#FDE2F3;
    --font-color:white;   
}

html{
    height: 100%;
    background: var(--color1); 
    background: no-repeat;

}

body{
    height: 100%;
}
/*media query mobile first*/

@media only screen and (min-width: 360px) {
    html{
        height: 100%;
        background: var(--color1);        
        background-image: linear-gradient(var(--color1), var(--color2));
        background-attachment: fixed;        
    }
    
    .general-container{
        height: 100%;
        width: 100%;
        margin:0 auto;
        padding-left:2%;
        padding-right: 2%;
    }

    /*header and nav section*/
    header{
        display: flex;
        flex-direction: row;
        position: fixed;
        padding-left: 1%;
        top: 2%;
        width: 95%;
        margin:0 auto;
    }    

    .logo{
        width: 30%;
        height: 60%;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        border:green  1px;
        list-style: none;
        text-decoration: none;

    }

    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 15%;
        width: 100%;
        list-style: none;
        text-decoration: none;

    }  

    .nav-list ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border:brown solid 1px;

    }

    .nav-list li{
        display:inline;
        padding:8px;
        cursor:pointer;
        list-style: none;
        text-decoration: none;
    } 
    
    .nav-list li a{
        cursor:pointer;
        list-style: none;
        text-decoration: none;
        padding: 2%;
        
    }  

    .nav-list li a:active,a:visited{
        cursor:pointer;
        list-style: none;
        text-decoration: none;
    } 
    
    .nav-list li a:hover{
        cursor:pointer;
        list-style: none;
        color:var(--color3);
    }   

    /*welcome section*/

    .welcome-section{
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left:3%;
        margin-right:3%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;

    }

    h1{
        text-align: center;
        font-size: 1.5em;
    }

    .profile-photo{
        width: 40%;
        border-radius: 50%;        
        border: 5px solid var(--color3);       
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .welcome-section p{
        font-size: 1em;
    }

    /*projects section*/

    h2{
        text-align: center;
        margin-top: 2%;
    }

    .projects-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 2%;
        width: 100%;        
    }   
    
    hr{
        border:2px solid var(--color3);
        width: 40%;
        border-radius: 60%;
        margin: 1% 30% 2% 30%;
        
    }

    .projects-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        
    }
    .project-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border:solid 3px var(--color3);
        border-radius:15%;
        padding: 5%;
        width: 95%;
        margin: 2%;

    }

    .project-info h6{
        color:var(--font-color);
        text-decoration:solid;
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 2%;
    }

    .project-info img{
        width: 100%;
        height: 100%;
        padding: 2%;
    }
   
    
    .contact-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        position: fixed;
        bottom: 3%;
    }

    .contact-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        border:linen solid 1px;

    }    

    .contact-links ul{
        display: flex;
        justify-content: space-between;

    }

    .contact-links li{
        display:inline;
        padding: 2% 15% 2% 15%;
        margin-top: 5%;
    }

    .contact-links a{        
        text-decoration: none !important;
        font-size: 2em;

    }

    .contact-links a:hover{
        cursor:pointer;
        list-style: none;
        color:var(--color3);
    }  

    footer{   
        position: fixed;
        bottom: 1%;
        right: 1%;
        left:1%;
        width: 100%;
        margin:0;
        font-size: 0.9em;   
        text-align: center;
    
    }
}

/*media query for desktop*/

@media only screen and (min-width: 1024px) {
    html{
        height: 100%;
        background: var(--color1);        
        background-image: linear-gradient(var(--color1), var(--color2));
        background-attachment: fixed;        
    }
    
    .general-container{
        height: 100%;
        width: 100%;
    }

    /*header and nav section*/
    header{
        display: flex;
        flex-direction: row;
        position: fixed;
        padding-left: 5%;
        padding-right: 10%;
        top: 5%;
        width: 95%;
        margin:0 auto;
    }    

    .logo{
        width: 30%;
        height: 60%;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        list-style: none;
        text-decoration: none;

    }

    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 15%;
        width: 100%;
        list-style: none;
        text-decoration: none;

    }  

    .nav-list ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border:brown solid 2px;

    }

    .nav-list li{
        display:inline;
        padding:15%;
        cursor:pointer;
        list-style: none;
        text-decoration: none;
        font-size: 1.8em;
        font-weight: bold;
    } 
    
    .nav-list li a{
        cursor:pointer;
        list-style: none;
        text-decoration: none;
        padding: 2%;
        
    }  

    .nav-list li a:active,a:visited{
        cursor:pointer;
        list-style: none;
        text-decoration: none;
    } 
    
    .nav-list li a:hover{
        cursor:pointer;
        list-style: none;
        color:var(--color3);
    }

    /*welcome section*/

    .welcome-section{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left:3%;
        margin-right:3%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2%;

    }

    h1{
        text-align: center;
        font-size: 2.8em;
    }

    .profile-photo{
        width: 35%;
        border-radius: 50%;        
        border: 15px solid var(--color3);       
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
    }


    .welcome-section p{
        font-size: 1.9em;
    }

    /*projects section*/

    .projects-section{
        display: flex;
        flex-direction: column;
        margin-left:3%;
        margin-right:3%;
    }

    .projects-section h2{
        text-align: center;
        margin-top: 2%;
        font-size: 2.8em;


    }

    hr{
        border:5px solid var(--color3);
        width: 40%;
        border-radius: 60%;
        margin: 1% 30% 2% 30%;
        
    }

    footer{
        position: fixed;
        bottom: 1%;
        right: 1%;
        left:1%;
        width: 100%;
        margin:0;
        font-size: 1em;       

    }

    footer h2{
        text-align: center;
        margin-top: 2%;
        font-size: 2.89em;

    }

    footer p{
        text-align: center;
    }

    .contact-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .contact-links a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        border: 5px solid var(--color3);       

    }

}
