body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: white;
    margin: 0;
}
main{
    display: block;
    background-color: #C39BD3;
    margin:auto;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.7em;

}

img{
    display: block;
    margin: auto;
    width: 80%;
}

#img-caption {
    margin: 15px 0 5px 0;
    font-size: 0.6em;
    color: #633974;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin: 16px 0;

}
ul {
    max-width: 50%;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
#img-div {
    background: white;
    padding: 10px;
    margin: auto;
    max-width: 50%;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}
